#celebrities {
  background-color: #020d18;
  padding: 80px 0;
  .col-md-9 {
    margin: 0 auto;
  }
  .celebrities__list {
    display: flex;
    flex-direction: column;
    .celebritie__about {
      display: flex;
      background-color: #071829;
      margin-bottom: 30px;
      height: 150px;
      .celebritie__image {
        height: auto;
        a {
          width: 100px;
          text-decoration: none;
          img {
            height: 100%;
            max-width: 100%;
          }
        }
      }
      .celebritie__content {
        padding: 0 30px;
        width: 100%;
        align-self: center;
        .celebritie-name {
          margin-bottom: 15px;
          a {
            font-family: "Dosis", sans-serif;
            font-size: 19px;
            font-weight: bold;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.3s linear;
          }
        }
        .celebritie-detail {
          font-size: 12px;
          line-height: 28px;
          color: #abb7c4;
          text-transform: uppercase;
          padding-left: 10px;
          position: relative;
          margin-bottom: 0;
          &::before {
            content: "-";
            position: absolute;
            top: 0;
            left: -3px;
            color: #abb7c4;
            width: 10px;
            height: 5px;
            font-size: 20px;
          }
        }
      }
      &:hover {
        .celebritie-name {
          a {
            color: #dcf836;
          }
        }
      }
    }
  }
  .celebrities-pagination {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #405266;
    border-bottom: 1px solid #405266;
    padding: 5px 0;
    .page-text {
      span {
        font-size: 14px;
        color: #abb7c4;
      }
    }
    ul {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0 5px;
        a {
          font-size: 14px;
          text-decoration: none;
          color: #428bca;
          transition: all 0.2s linear;
          i {
            transition: all 0.2s linear;
            color: #428bca;
            font-size: 12px;
          }
          &:hover {
            color: #dcf836;
            i {
              color: #dcf836;
            }
          }
          &.active {
            color: #dcf836;
          }
        }
      }
    }
  }
}
