body {
}

.bg-image-wrapped {
    width: 39%;
}

.blog-bg-image {
    width: 450px !important;
    height: 400px !important;
    max-width: 100% !important;
}

.select2-container {
    width: 500px !important;
}

.selectTag {
    line-height: 25px;
    margin-bottom: 3px;
}

.select2-container .select2-selection {
    height: 36px !important;
    border: 1px solid #E4E6EF !important;
    padding: 3px;
}

.select2-container .select2-selection .select2-search__field {
    width: 0 !important;
}

.bg-video {
    width: 90% !important;
}

.custom-pl-none {
    padding-left: 0 !important;
}

.bg-image-movie {
    width: 350px !important;
    height: 250px !important;
    max-width: 100% !important;
}
