@{
    ViewData["Title"] = "Index";
}

<main>
    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>BLOG LIST</h1>
                    <div class="bread"
                         style="--bs-breadcrumb-divider: '>'"
                         aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a asp-controller="Home" asp-action="Index" style="color: #428bca">HOMEPAGE</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                BLOG
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12">
                    <div class="blog__list">
                        <div class="blog__about">
                            <div class="blog__about__image">
                                <a asp-controller="Blog" asp-action="Detail">
                                    <img src="~/assets/images/posted_image1.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog__about__content">
                                <h2>
                                    <a href="#">
                                        Godzilla: King Of The Monsters Adds O’Shea Jackson Jr
                                        O’Shea Jackson Jr O’Shea Jackson Jr
                                    </a>
                                </h2>
                                <div class="posted_date">
                                    <p>October 9, 2017</p>
                                </div>
                                <div class="description">
                                    <p>
                                        Joss Whedon has a little bit of a history with superhero
                                        movies, and for creating layered female characters.
                                        After his documented frustrations with Wonder Woman,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="blog__about">
                            <div class="blog__about__image">
                                <a asp-controller="Blog" asp-action="Detail">
                                    <img src="~/assets/images/posted_image2.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog__about__content">
                                <h2>
                                    <a href="#">Magnolia Nabs ‘Lucky’ Starring Harry Dean Stanton</a>
                                </h2>
                                <div class="posted_date">
                                    <p>October 9, 2017</p>
                                </div>
                                <div class="description">
                                    <p>
                                        Joss Whedon has a little bit of a history with superhero
                                        movies, and for creating layered female characters.
                                        After his documented frustrations with Wonder Woman,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="blog__about">
                            <div class="blog__about__image">
                                <a asp-controller="Blog" asp-action="Detail">
                                    <img src="~/assets/images/posted_image3.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog__about__content">
                                <h2>
                                    <a href="#">
                                        Godzilla: King Of The Monsters Adds O’Shea Jackson Jr
                                        O’Shea Jackson Jr O’Shea Jackson Jr
                                    </a>
                                </h2>
                                <div class="posted_date">
                                    <p>October 9, 2017</p>
                                </div>
                                <div class="description">
                                    <p>
                                        Joss Whedon has a little bit of a history with superhero
                                        movies, and for creating layered female characters.
                                        After his documented frustrations with Wonder Woman,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="blog__about">
                            <div class="blog__about__image">
                                <a href="#">
                                    <img src="~/assets/images/posted_image4.jpg" alt="" />
                                </a>
                            </div>
                            <div class="blog__about__content">
                                <h2>
                                    <a href="#">
                                        Godzilla: King Of The Monsters Adds O’Shea Jackson Jr
                                        O’Shea Jackson Jr O’Shea Jackson Jr
                                    </a>
                                </h2>
                                <div class="posted_date">
                                    <p>October 9, 2017</p>
                                </div>
                                <div class="description">
                                    <p>
                                        Joss Whedon has a little bit of a history with superhero
                                        movies, and for creating layered female characters.
                                        After his documented frustrations with Wonder Woman,
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="blog__pagination">
                        <ul>
                            <li><a class="active" href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li>
                                <a href="#"><i class="fa fa-chevron-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="right-sidebar">
                        <div class="search">
                            <h4>SEARCH</h4>
                            <form action="">
                                <input type="text" placeholder="Enter Keyword" required />
                            </form>
                        </div>
                        <div class="categories">
                            <h4>MOST POPULAR</h4>
                            <ul>
                                <li>
                                    <span>01</span>
                                    <a href="#">
                                        Godzilla: King Of The Monsters Adds O’Shea Jackson Jr
                                        O’Shea Jackson Jr O’Shea Jackson Jr
                                    </a>
                                </li>
                                <li>
                                    <span>02</span>
                                    <a href="#">
                                        Magnolia Nabs ‘Lucky’ Starring Harry Dean Stanton
                                    </a>
                                </li>
                                <li>
                                    <span>03</span>
                                    <a href="#">
                                        ‘Going in Style’ Tops ‘Smurfs: The Lost Village’ at
                                        Thursday Box Office
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tags">
                            <h4>TAGS</h4>
                            <div class="tag-list">
                                <ul>
                                    <li><a href="#">Batman</a></li>
                                    <li><a href="#">Beauty</a></li>
                                    <li><a href="#">Film</a></li>
                                    <li><a href="#">King</a></li>
                                    <li><a href="#">Poster</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

