@model Gender
@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Update item</h2>
                </div>
            </div>
            <!-- end main title -->
            <!-- form -->
            <div class="col-12">
                <form asp-area="admin" asp-controller="gender" asp-action="update" class="form" method="post" enctype="multipart/form-data">
                    <div class="row row--form">
                        <div class="col-12 col-md-7 form__content">
                            <div class="row row--form">
                                <label asp-for="@Model.Name" style="color:white;">Tag name:</label>
                                <div class="col-6">
                                    <input asp-for="@Model.Name" class="form__input" placeholder="Social media name">
                                    <span asp-validation-for="@Model.Name" class="text-danger" style="display: inline-block; padding-bottom: 5px;"></span>
                                </div>

                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <button type="submit" class="form__btn">publish</button>
                        </div>
                        <div class="col-12 col-lg-6" style="text-align: end;">
                            <a asp-area="admin" asp-controller="gender" asp-action="Index" type="submit" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- end form -->
        </div>
    </div>
</main>


