@model List<Subscribe>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/admin/Views/Shared/_LayoutMain.cshtml";
}

@inject AppDbContext _context

<main class="main">
    <div class="container-fluid">
        <div class="row">
            <!-- main title -->
            <div class="col-12">
                <div class="main__title">
                    <h2>Subscribes</h2>
                    @if (TempData["sendMailSuccess"] != null)
                    {
                        <input type="hidden" id="sendMailSuccess">
                        TempData["sendMailSuccess"] = null;
                    }
                    <span class="main__title-stat">@(_context.Subscribes.ToList().Count) Total</span>

                    <div class="main__title-wrap">

                        <!-- filter sort -->
                        <div class="col-12 col-lg-3">
                            <a asp-area="admin" asp-controller="subscribe" asp-action="send" class="form__btn" style="display: inline-block; line-height: 40px; text-align:center;">send mail</a>
                        </div>
                        <!-- end filter sort -->
                        <!-- search -->
                        <form action="#" class="main__title-form">
                            <input type="text" placeholder="Find movie / tv series..">
                            <button type="button">
                                <i class="icon ion-ios-search"></i>
                            </button>
                        </form>
                        <!-- end search -->
                    </div>
                </div>
            </div>
            <!-- end main title -->
            <!-- users -->
            <div class="col-12">
                <div class="main__table-wrap">
                    <table class="main__table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>MAIL</th>
                                <th>CREATED DATE</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>

                        <tbody>
                            @{
                                int c = 1;
                                @foreach (var item in Model)
                                {
                            <tr>
                                <td>
                                    <div class="main__table-text">@c</div>
                                </td>

                                <td>
                                    <div class="main__table-text main__table-text--rate">@item?.Mail</div>
                                </td>

                                <td>
                                    <div class="main__table-text main__table-text--rate">@item?.CreatedDate.ToString("dd MMM yyyy")</div>
                                </td>

                                <td>
                                    <div class="main__table-btns">
                                        <a asp-area="admin" asp-controller="subscribe" asp-action="send" asp-route-id="@item.Id" class="main__table-btn main__table-btn--edit">
                                            <i class="icon ion-ios-send"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                                    c++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- end users -->
        </div>
    </div>
</main>

<!-- end main content -->
<!-- modal status -->
<div id="modal-status" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Status change</h6>

    <p class="modal__text">Are you sure about immediately change status?</p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Apply</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>
<!-- end modal status -->
<!-- modal delete -->
<div id="modal-delete" class="zoom-anim-dialog mfp-hide modal">
    <h6 class="modal__title">Item delete</h6>

    <p class="modal__text">Are you sure to permanently delete this item?</p>

    <div class="modal__btns">
        <button class="modal__btn modal__btn--apply" type="button">Delete</button>
        <button class="modal__btn modal__btn--dismiss" type="button">Dismiss</button>
    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $('.delete').on('click', function (e) {
            e.preventDefault();
            let url = $(this).attr('href');
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this imaginary file!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        fetch(url).then(response => response.json()).then(data => {
                            if (data.code == 204) {
                                swal(data.message, {
                                    icon: "success",
                                });
                                window.location.reload();
                            } else {
                                swal(data.message, {
                                    icon: "error",
                                });
                            }
                        })
                    } else {
                        swal("Item wasn't deleted", { icon: "error" });
                    }
                });
        })</script>
}


