@model VmLayout
<div class="overlay-form-forgetPassword">
    <div class="overlay-form-forgetPassword__wrapped">
        <div class="c__form_forgetPassword">
            <form  asp-controller="Account" asp-action="ForgetPassword" method="post">
                <div class="username-email">
                    <label for="email">Email Address</label>
                    <input name="email" type="email" id="emailForget"/>
                </div>
                <button type="submit" class="send__email">Send Email</button>
            </form>
            <div class="close-btn">
                <a href="#" data-close-forgetPassword>
                    <i class="fas fa-times"></i>
                </a>
            </div>
        </div>
    </div>
</div>


