.mv-single {
  height: 0 !important;
  .theme-menu-box {
    z-index: 44;
    background-color: transparent;
    .menu-flex-box {
    }
  }
}
.banner-bg-img {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  background-image: url("../../assets/images/banner-bg.jpg") !important;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(2, 13, 24, 0.8);
  }
}
#movie-single {
  background-color: #020d18;
  padding: 100px 0;
  #movie-details {
    position: relative;
    margin-top: -415px;
    z-index: 30;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    .movie-poster {
      margin-bottom: 30px;
      max-width: 300px;
      .movie__detail__image {
        img {
          border-radius: 5px;
        }
      }
      .btn-transform {
        text-align: center;
        padding: 18px;
        display: flex;
        flex-direction: column;
        background-color: #07101a;
        border: 3px solid #0c1c2c;
        overflow: hidden;
        position: relative;
        height: 100px;
      }
      .movie__detail__trailer__btn {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Dosis", sans-serif;
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #dd003f;
          height: 45px;
          line-height: 45px;
          border-radius: 5px;
          transform: rotateX(0deg);
          transition: all 0.3s linear;
          margin-left: 10px;
          width: 93%;
          i {
            font-size: 13px;
            margin-right: 10px;
          }
        }
      }
      .movie__detail__trailer__btn-play {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Dosis", sans-serif;
          font-size: 14px;
          color: #ffffff;
          font-weight: 700;
          text-transform: uppercase;
          text-decoration: none;
          background-color: #dd003f;
          height: 45px;
          line-height: 45px;
          border-radius: 5px;
          transform: rotateX(180deg);
          transition: all 0.3s linear;
          margin-left: 10px;
          left: 0;
          width: 93%;
        }
      }
    }

    .movie__detail__content {
      h2 {
        font-family: "Dosis", sans-serif;
        font-weight: bold;
        color: #ffffff;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 30px;
        margin-top: 15px;
      }
      .movie__detail__rating {
        display: flex;
        align-items: center;
        height: 60px;
        border-top: 1px solid #405266;
        border-bottom: 1px solid #405266;
        margin: 30px 0;
        .left-field {
          display: flex;
          align-items: center;
          border-right: 1px solid #405266;
          height: 60px;
          padding-right: 30px;
          & > span {
            font-size: 24px;
            margin-right: 10px;
            i {
              color: #f5b50a;
            }
          }
          .rating-star {
            .rate-num {
              span {
                font-size: 12px;
                color: #abb7c4;
                &:nth-of-type(1) {
                  color: #ffffff;
                  font-size: 16px;
                }
              }
            }
            .rv {
              font-size: 12px;
              color: #4280bf;
            }
          }
        }
        .right-field {
          display: flex;
          align-items: center;
          padding-left: 30px;
          .rate-title {
            & > span {
              font-size: 18px;
              text-transform: capitalize;
              margin-right: 15px;
              color: #abb7c4;
            }
          }
          .rate-stars {
            & > span {
              font-size: 24px;
              i {
                color: #abb7c4;
                &.voted {
                  color: #f5b50a;
                }
              }
            }
          }
        }
      }
      .movie-tab {
        .pt-30px {
          padding-top: 30px;
        }
        .movie__tabs__content {
          .movie__tabs__content__overview {
            display: none;
            &.show {
              display: block;
            }
            p {
              font-size: 14px;
              font-weight: 400;
              line-height: 28px;
              color: #abb7c4;
            }
            .movie__media {
              .movie__media__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #405266;
                padding: 10px 0;
                h4 {
                  font-family: "Dosis", sans-serif;
                  font-weight: bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #ffffff;
                }
                a {
                  text-decoration: none;
                  color: #428bca;
                  font-size: 12px;
                  transition: all 0.2s linear;
                  &:hover {
                    color: #dcf836;
                  }
                }
              }
              .movie__media__video {
                display: flex;
                justify-content: flex-start;
                margin: 30px 0;
                flex-wrap: wrap;
                .video {
                  margin-right: 25px;
                  margin-bottom: 30px;
                  display: flex;
                  flex-direction: column;
                  max-width: 170px;
                  overflow: hidden;
                }
                a {
                  display: inline-block;
                  width: 170px;
                  margin-bottom: 15px;
                  text-decoration: none;
                  line-height: 0;
                  overflow: hidden;
                  position: relative;
                  &:hover {
                    img {
                      transform: scale(1.1);
                    }
                  }
                  i {
                    position: absolute;
                    font-size: 14px;
                    color: #ffffff;
                    left: 40%;
                    top: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    background-color: #dd003f;
                    border-radius: 50%;
                    transition-duration: 0.3s;
                    overflow: hidden;
                  }
                  img {
                    border-radius: 5px;
                    max-width: 100%;
                    transition: all 0.2s linear;
                  }
                }
              }
            }
            .movie__cast {
              .movie__cast__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #405266;
                padding: 10px 0;
                h4 {
                  font-family: "Dosis", sans-serif;
                  font-weight: bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #ffffff;
                }
              }
              .movie__actors {
                margin: 30px 0;
                .mv__actor {
                  display: flex;
                  margin-bottom: 20px;
                  align-items: center;
                  .mv__actor__img {
                    overflow: hidden;
                    width: 40px;
                    img {
                      max-width: 100%;
                      border-radius: 3px;
                    }
                  }
                  a {
                    text-decoration: none;
                    color: #4280bf;
                    margin-left: 30px;
                    transition: all 0.3s linear;
                    &:hover {
                      color: #dcf836;
                    }
                  }
                }
              }
            }
            .movie__reviews {
              .movie__review__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #405266;
                padding: 10px 0;
                h4 {
                  font-family: "Dosis", sans-serif;
                  font-weight: bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #ffffff;
                }
                a {
                  text-decoration: none;
                  color: #428bca;
                  font-size: 12px;
                  transition: all 0.2s linear;
                  &:hover {
                    color: #dcf836;
                  }
                }
              }
              & > .movie__review__comments {
                display: flex;
                align-items: center;
                margin-top: 40px;
                padding: 0;
                & > li {
                  display: flex;
                  flex-direction: column;
                  padding: 15px;
                  width: 100%;
                  .user__did__comment {
                    display: flex;
                    align-items: center;
                    .movie__comment__image {
                      margin-right: 30px;
                      img {
                        border-radius: 5px;
                      }
                    }
                    .movie__comment__rate {
                      line-height: 17px;
                      & > span {
                        font-family: "Dosis", sans-serif;
                        font-size: 14px;
                        color: #ffffff;
                        font-weight: 700;
                        text-transform: none;
                        margin-right: 10px;
                      }
                      & > a {
                        text-decoration: none;
                        color: #abb7c4;
                        font-size: 13px;
                      }
                      .comment__movieRate {
                        & > span {
                          margin-right: -3px;
                          i {
                            font-size: 13px;
                            color: #abb7c4;
                            &.voted {
                              color: #f5b50a;
                            }
                          }
                        }
                      }
                    }
                  }
                  .user__did__text {
                    border-bottom: 1px solid #405266;
                    p {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 28px;
                      color: #abb7c4;
                      margin: 15px 0;
                      padding-bottom: 10px;
                    }
                  }
                }
              }
            }
            .overview-mv {
              h6 {
                font-size: 14px;
                font-family: Dosis;
                font-weight: bold;
                margin: 15px 0;
                color: #abb7c4;
              }
              .white-text {
                font-size: 14px;
                color: #ffffff;
              }
              a {
                text-decoration: none;
                color: #428bca;
                margin-right: 10px;
                transition: all 0.3s linear;
                &:hover {
                  color: #dcf836;
                }
              }
            }
          }
          .movie__tabs__content__media {
            display: none;
            &.show {
              display: block;
            }
            & > .movie__media {
              .movie__media__title {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #405266;
                padding: 10px 0;
                h4 {
                  font-family: "Dosis", sans-serif;
                  font-weight: bold;
                  font-size: 14px;
                  text-transform: uppercase;
                  color: #ffffff;
                }
                a {
                  text-decoration: none;
                  color: #428bca;
                  font-size: 12px;
                  transition: all 0.2s linear;
                  &:hover {
                    color: #dcf836;
                  }
                }
              }
              .movie__media__video {
                display: flex;
                justify-content: flex-start;
                margin: 30px 0;
                flex-wrap: wrap;
                .video {
                  margin-right: 25px;
                  margin-bottom: 30px;
                  display: flex;
                  flex-direction: column;
                  max-width: 170px;
                  overflow: hidden;
                }
                a {
                  display: inline-block;
                  width: 170px;
                  margin-bottom: 15px;
                  text-decoration: none;
                  line-height: 0;
                  overflow: hidden;
                  position: relative;
                  &:hover {
                    img {
                      transform: scale(1.1);
                    }
                  }
                  i {
                    position: absolute;
                    font-size: 14px;
                    color: #ffffff;
                    left: 40%;
                    top: 35%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35px;
                    height: 35px;
                    background-color: #dd003f;
                    border-radius: 50%;
                    transition-duration: 0.3s;
                    overflow: hidden;
                  }
                  img {
                    border-radius: 5px;
                    max-width: 100%;
                    transition: all 0.2s linear;
                  }
                }
              }
            }
          }
          .movie__tabs__content__related__movies {
            display: none;
            &.show {
              display: block;
            }
            .mv-subtitle {
              margin-bottom: 30px;
              h6 {
                font-family: "Dosis", sans-serif;
                font-weight: bold;
                font-size: 16px;
                color: #abb7c4;
                margin: 15px 0;
              }
              h4 {
                font-family: "Dosis", sans-serif;
                font-weight: bold;
                font-size: 24px;
                color: #4280bf;
                margin: 15px 0;
              }
            }
            .movie__about {
              margin-bottom: 20px;
              display: flex;
              .movie__about__image {
                margin-right: 30px;
                width: 180px;
                a {
                  text-decoration: none;
                  img {
                    max-width: 100%;
                    opacity: 0.8;
                    border-radius: 5px;
                  }
                }
              }
              .movie__about__info {
                h6 {
                  line-height: 18px;
                  padding-right: 15px;
                  margin-top: 0;
                  margin-bottom: 10px;
                  a {
                    font-family: "Dosis", sans-serif;
                    font-size: 14px;
                    color: #ffffff;
                    font-weight: 700;
                    text-transform: uppercase;
                    text-decoration: none;
                  }
                }
                .movie__about__desc {
                  margin-bottom: 20px;
                  padding-bottom: 20px;
                  border-bottom: 1px solid #405266;
                  padding-right: 30px;
                  p {
                    font-weight: 400;
                    line-height: 28px;
                    color: #abb7c4;
                    font-size: 14px;
                  }
                }

                .movie__details {
                  margin-bottom: 5px;
                  span:nth-of-type(1) {
                    margin-left: 0;
                  }
                  span {
                    color: #abb7c4;
                    margin: 0 15px;
                    font-size: 14px;
                  }
                }
                .mv-director {
                  color: #abb7c4;
                  span {
                    color: #4280bf;
                    margin-left: 3px;
                    font-size: 14px;
                  }
                }
                .mv-stars {
                  color: #abb7c4;
                  span {
                    margin-left: 3px;
                    color: #4280bf;
                    font-size: 14px;
                  }
                }
              }
            }
          }

          .movie__tabs__content__all__reviews {
            display: none;
            &.show {
              display: block;
            }

            .sub__mv__title {
              margin-bottom: 30px;
              h6 {
                font-size: 16px;
                color: #abb7c4;
                font-family: "Dosis", sans-serif;
                margin: 15px 0;
                font-weight: bold;
              }
              h4 {
                color: #4280bf;
                font-size: 24px;
                font-family: "Dosis", sans-serif;
                font-weight: bold;
                margin: 15px 0;
              }
            }
            .all__reviews__comment {
              padding-top: 30px;
              margin-top: 30px;
              border-top: 1px solid #405266;
              & > .movie__review__comments {
                display: flex;
                align-items: center;
                padding: 0;
                & > li {
                  display: flex;
                  flex-direction: column;
                  padding: 15px;
                  width: 100%;
                  .user__did__comment {
                    display: flex;
                    align-items: center;
                    .movie__comment__image {
                      margin-right: 30px;
                      img {
                        border-radius: 5px;
                      }
                    }
                    .movie__comment__rate {
                      line-height: 17px;
                      & > span {
                        font-family: "Dosis", sans-serif;
                        font-size: 14px;
                        color: #ffffff;
                        font-weight: 700;
                        text-transform: none;
                        margin-right: 10px;
                      }
                      & > a {
                        text-decoration: none;
                        color: #abb7c4;
                        font-size: 13px;
                      }
                      .comment__movieRate {
                        & > span {
                          margin-right: -3px;
                          i {
                            font-size: 13px;
                            color: #abb7c4;
                            &.voted {
                              color: #f5b50a;
                            }
                          }
                        }
                      }
                    }
                  }
                  .user__did__text {
                    border-bottom: 1px solid #405266;
                    p {
                      font-size: 14px;
                      font-weight: 400;
                      line-height: 28px;
                      color: #abb7c4;
                      margin: 15px 0;
                      padding-bottom: 10px;
                    }
                  }
                }
              }
            }
            h3 {
              font-family: "Dosis", sans-serif;
              font-size: 18px;
              color: #ffffff;
              font-weight: 700;
              margin: 15px 0;
            }
            form {
              p {
                margin-bottom: 20px;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                color: #abb7c4;
              }
              .cm__text {
                margin-bottom: 17px;
                label {
                  color: #abb7c4;
                }
                textarea {
                  font-size: 14px;
                  color: #abb7c4;
                  font-weight: 400;
                  margin-top: 10px;
                  width: 100%;
                  background-color: #020d18;
                  border: 1px solid #405266;
                  outline: none;
                  padding: 15px;
                  &:focus {
                    border: 1px solid #dcf836;
                  }
                }
              }
              .cm__fullname {
                margin-bottom: 17px;
                label {
                  color: #abb7c4;
                }
                input {
                  @extend %inputDesign;
                }
              }
              .cm__email {
                margin-bottom: 17px;
                label {
                  color: #abb7c4;
                }
                input {
                  @extend %inputDesign;
                }
              }
              .cm__rating {
                margin-bottom: 17px;
                label {
                  color: #abb7c4;
                  margin-bottom: 10px;
                  .required-rt {
                    color: red;
                  }
                }
                .cm__rating__stars {
                  span {
                    font-size: 14px;
                    margin: 0 -1px;
                    cursor: pointer;
                    transition: all 0.3s linear;
                    &.voted {
                      color: #016c50;
                    }
                    &.over {
                      color: #016c50;
                    }
                  }
                }
              }
              .post-btn {
                @extend %standBtn;
              }
            }
          }
        }
        & > ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          padding: 0;
          margin-bottom: 15px;
          & > li {
            line-height: 24px;
            margin: 15px 0;
            & > a {
              font-family: "Dosis", sans-serif;
              font-weight: bold;
              text-decoration: none;
              color: #abb7c4;
              font-size: 20px;
              display: inline-block;
              text-transform: uppercase;
              margin-right: 30px;
              border-bottom: 3px solid transparent;
              padding: 15px 0;
              transition: all 0.2s linear;
              &.active {
                color: #dcf836;
                border-bottom-color: #dcf836;
              }
              &:hover {
                color: #dcf836;
                border-bottom-color: #dcf836;
              }
            }
          }
        }
      }
    }
  }
}
.mfp-iframe-holder .mfp-content {
  max-width: 1100px !important;
}
