.banner1-bg-img {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  background-image: url("../../assets/images/actorsingle-bg.jpg") !important;
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 600px;
    top: 0;
    left: 0;
    background-color: rgba(2, 13, 24, 0.8);
  }
}
#celebritieInfo {
  padding: 100px 20px;
  position: relative;
  margin-top: -400px;
  z-index: 99;
  & > .container {
    & > .row {
      padding: 0 30px;
    }
  }
  .celebritie__detail__image {
    text-align: center;
    img {
      border-radius: 5px;
      max-width: 100%;
    }
  }
  .celebritie__content {
    h2 {
      font-size: 36px;
      line-height: 42px;
      margin-bottom: 20px;
      font-family: "Dosis", sans-serif;
      font-weight: bold;
      color: #ffffff;
      margin-top: 15px;
    }
    .celebritie__tabs {
      .celebritie__tabs-title {
        & > ul {
          list-style-type: none;
          display: flex;
          align-items: center;
          padding: 0;
          margin-bottom: 15px;
          & > li {
            line-height: 24px;
            margin: 15px 0;
            & > a {
              font-family: "Dosis", sans-serif;
              font-weight: bold;
              text-decoration: none;
              color: #abb7c4;
              font-size: 18px;
              display: inline-block;
              text-transform: uppercase;
              margin-right: 30px;
              border-bottom: 3px solid transparent;
              padding: 15px 0;
              transition: all 0.2s linear;
              &.active {
                color: #dcf836;
                border-bottom-color: #dcf836;
              }
              &:hover {
                color: #dcf836;
                border-bottom-color: #dcf836;
              }
            }
          }
        }
      }
      .celebritie__tabs-content {
        .biography {
          display: none;
          &.show {
            display: block;
          }
        }
        .filmography {
          display: none;
          &.show {
            display: block;
          }

          .celebritie__film {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 15px;
            .celebritie__film__main {
              display: flex;
              align-items: center;
              .celebritie__film__img {
                img {
                  border-radius: 3px;
                }
              }
              .celebritie__film__title {
                margin-left: 15px;
                h4 {
                  a {
                    font-size: 16px;
                    color: #4280bf;
                    font-weight: 400;
                    text-transform: capitalize;
                    text-decoration: none;
                    transition: all 0.3s linear;
                    &:hover {
                      color: #dcf836;
                    }
                  }
                }
              }
            }
            .celebritie__createdDate {
              p {
                position: relative;
                padding-left: 15px;
                font-size: 14px;
                font-weight: 400;
                line-height: 28px;
                color: #abb7c4;
                &::before {
                  content: "...";
                  position: absolute;
                  bottom: 0;
                  left: -2px;
                }
              }
            }
          }
        }
        margin-top: 10px;
        .celebritie__tabs-content-left {
          .subtitle {
            h6 {
              font-family: "Dosis", sans-serif;
              font-weight: bold;
              font-size: 16px;
              color: #abb7c4;
              margin: 20px 0;
            }
            h4 {
              font-family: "Dosis", sans-serif;
              font-weight: bold;
              font-size: 24px;
              color: #4280bf;
              margin: 20px 0;
            }
          }
          p {
            color: #abb7c4;
            line-height: 28px;
            font-size: 14px;
          }
        }
        .celebritie__tabs-content-right {
          padding-left: 30px;
          .overview__clb {
            margin-bottom: 15px;
            width: 100px;
            h6 {
              font-family: "Dosis", sans-serif;
              font-weight: bold;
              font-size: 14px;
              color: #abb7c4;
              margin: 15px 0;
            }
            p {
              font-size: 14px;
              color: #ffffff;
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
