@{
    ViewData["Title"] = "Detail";
}

<div class="banner-bg-img"></div>
<main id="movie-single">
    <section id="movie-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <div class="movie-poster">
                        <div class="movie__detail__image">
                            <img src="~/assets/images/poster13-200x300-1.jpg" alt="" />
                        </div>
                        <div class="btn-transform-wrapped">
                            <div class="btn-transform">
                                <div class="movie__detail__trailer__btn">
                                    <a href="#" class="item item-1">
                                        <i class="fas fa-play"></i>
                                        Watch Trailer
                                    </a>
                                </div>
                                <div class="movie__detail__trailer__btn-play">
                                    <a href="#" class="item item-2">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12">
                    <div class="movie__detail__content">
                        <h2>The Iron Lady</h2>
                        <div class="movie__detail__rating">
                            <div class="left-field">
                                <span><i class="fas fa-star"></i></span>
                                <div class="rating-star">
                                    <div class="rate-num">
                                        <span>6</span>
                                        <span>/</span>
                                        <span>10</span>
                                    </div>
                                    <span class="rv">1 Review</span>
                                </div>
                            </div>

                            <div class="right-field">
                                <div class="rate-title">
                                    <span>Rate This Movie:</span>
                                </div>
                                <div class="rate-stars">
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star voted"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="movie-tab">
                            <ul>
                                <li><a class="active" href="#">OVERVIEW</a></li>
                                <li><a href="#">MEDIA</a></li>
                                <li><a href="#">RELATED MOVIE</a></li>
                            </ul>
                            <div class="movie__tabs__content">
                                <div class="movie__tabs__content__overview show">
                                    <div class="row">
                                        <div class="col-lg-8 pt-30px">
                                            <p>
                                                A look at the life of Margaret Thatcher, the former
                                                Prime Minister of the United Kingdom, with a focus
                                                on the price she paid for power.
                                            </p>
                                            <div class="movie__media">
                                                <div class="movie__media__title">
                                                    <h4>MEDIA</h4>
                                                    <a href="#" class="view__all__media">View all media</a>
                                                </div>
                                                <div class="movie__media__video">
                                                    <div class="video">
                                                        <a class="vidplay"
                                                           href="https://www.youtube.com/watch?v=cO-h7sRxHRc">
                                                            <img src="~/assets/images/movie-picture.jpg"
                                                                 alt="" />
                                                            <i class="fas fa-play"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="movie__cast">
                                                <div class="movie__cast__title">
                                                    <h4>CAST</h4>
                                                </div>
                                                <div class="movie__actors">
                                                    <div class="mv__actor">
                                                        <div class="mv__actor__img">
                                                            <img src="~/assets/images/actor1.png" alt="" />
                                                        </div>
                                                        <a href="#">Anthony Stewart Head</a>
                                                    </div>
                                                    <div class="mv__actor">
                                                        <div class="mv__actor__img">
                                                            <img src="~/assets/images/actor2.png" alt="" />
                                                        </div>
                                                        <a href="#">Alice da Cunha</a>
                                                    </div>
                                                    <div class="mv__actor">
                                                        <div class="mv__actor__img">
                                                            <img src="~/assets/images/actor3.png" alt="" />
                                                        </div>
                                                        <a href="#"> Alexandra Roach</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="movie__reviews">
                                                <div class="movie__review__title">
                                                    <h4>REVIEW</h4>
                                                    <a href="#">View all reviews</a>
                                                </div>
                                                <ul class="movie__review__comments">
                                                    <li>
                                                        <div class="user__did__comment">
                                                            <div class="movie__comment__image">
                                                                <img src="~/assets/images/avatar.png"
                                                                     alt="" />
                                                            </div>
                                                            <div class="movie__comment__rate">
                                                                <span>cedori</span>
                                                                <a href="#">- 31 October 2019 at 10:55 pm</a>
                                                                <div class="comment__movieRate">
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span>
                                                                        <i class="fas fa-star voted"></i>
                                                                    </span>
                                                                    <span><i class="fas fa-star"></i></span>
                                                                    <span><i class="fas fa-star"></i></span>
                                                                    <span><i class="fas fa-star"></i></span>
                                                                    <span><i class="fas fa-star"></i></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="user__did__text">
                                                            <p>not bad</p>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="overview-mv">
                                                <h6>Director:</h6>
                                                <span class="white-text">Phyllida Lloyd</span>
                                            </div>
                                            <div class="overview-mv">
                                                <h6>Writer:</h6>
                                                <span class="white-text">Abi Morgan</span>
                                            </div>
                                            <div class="overview-mv">
                                                <h6>Release Date:</h6>
                                                <span class="white-text">2011-12-30</span>
                                            </div>
                                            <div class="overview-mv">
                                                <h6>Run Time:</h6>
                                                <span class="white-text">105m</span>
                                            </div>
                                            <div class="overview-mv">
                                                <h6>Tagline:</h6>
                                                <span class="white-text">Never Compromise</span>
                                            </div>
                                            <div class="overview-mv">
                                                <h6>Genres:</h6>
                                                <a href="">Drama</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="movie__tabs__content__media">
                                    <div class="movie__media">
                                        <div class="movie__media__title">
                                            <h4>VIDEOS</h4>
                                        </div>
                                        <div class="movie__media__video">
                                            <div class="video">
                                                <a class="vidplay"
                                                   href="https://www.youtube.com/watch?v=cO-h7sRxHRc">
                                                    <img src="~/assets/images/movie-picture.jpg"
                                                         alt="" />
                                                    <i class="fas fa-play"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="movie__tabs__content__related__movies">
                                    <div class="mv-subtitle">
                                        <h6>Related Movies To</h6>
                                        <h4>Shazam!</h4>
                                    </div>
                                    <div class="movie__about">
                                        <div class="movie__about__image">
                                            <a href="movieDetails.html">
                                                <img src="~/assets/images/poster13-200x300-1.jpg"
                                                     alt="" />
                                            </a>
                                        </div>
                                        <div class="movie__about__info">
                                            <h6><a href="#">Shazam!</a></h6>
                                            <div class="movie__about__desc">
                                                <p>
                                                    A boy is given the ability to become an adult
                                                    superhero in times of need with a single magic
                                                    word.
                                                </p>
                                            </div>
                                            <div class="movie__details">
                                                <span>Run time: nullm</span><span>Tagline: Just Say The Magic Word</span><span>Release: 2019-04-03</span>
                                            </div>
                                            <p class="mv-director">
                                                Director: <span>David F. Sandberg</span>
                                            </p>
                                            <p class="mv-stars">
                                                Stars: <span>Asher Angel</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="movie__about">
                                        <div class="movie__about__image">
                                            <a href="movieDetails.html">
                                                <img src="~/assets/images/movie-picture1.jpg"
                                                     alt="" />
                                            </a>
                                        </div>
                                        <div class="movie__about__info">
                                            <h6><a href="#">Shazam!</a></h6>
                                            <div class="movie__about__desc">
                                                <p>
                                                    A boy is given the ability to become an adult
                                                    superhero in times of need with a single magic
                                                    word.
                                                </p>
                                            </div>
                                            <div class="movie__details">
                                                <span>Run time: nullm</span><span>Tagline: Just Say The Magic Word</span><span>Release: 2019-04-03</span>
                                            </div>
                                            <p class="mv-director">
                                                Director: <span>David F. Sandberg</span>
                                            </p>
                                            <p class="mv-stars">
                                                Stars: <span>Asher Angel</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="movie__tabs__content__all__reviews">
                                    <div class="sub__mv__title">
                                        <h6>Reviews for</h6>
                                        <h4>The Iron Lady</h4>
                                    </div>
                                    <div class="all__reviews__comment">
                                        <ul class="movie__review__comments">
                                            <li>
                                                <div class="user__did__comment">
                                                    <div class="movie__comment__image">
                                                        <img src="~/assets/images/avatar.png" alt="" />
                                                    </div>
                                                    <div class="movie__comment__rate">
                                                        <span>cedori</span>
                                                        <a href="#">- 31 October 2019 at 10:55 pm</a>
                                                        <div class="comment__movieRate">
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star voted"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                            <span><i class="fas fa-star"></i></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="user__did__text">
                                                    <p>not bad</p>
                                                </div>
                                            </li>
                                        </ul>
                                        <h3>Leave a Review</h3>
                                        <form>
                                            <p>
                                                Your email address will not be published. Required
                                                fields are marked *
                                            </p>
                                            <div class="cm__text">
                                                <label for="text">Review</label>
                                                <textarea name="text"
                                                          id="text"
                                                          rows="10"></textarea>
                                            </div>
                                            <div class="cm__fullname">
                                                <label for="fullname">Name *</label>
                                                <input type="text"
                                                       id="fullname"
                                                       name="fullname"
                                                       required />
                                            </div>
                                            <div class="cm__email">
                                                <label for="mail">Email *</label>
                                                <input type="email"
                                                       id="mail"
                                                       name="mail"
                                                       required />
                                            </div>

                                            <div class="cm__rating">
                                                <label for="">Rating <span class="required-rt">*</span></label>
                                                <div class="cm__rating__stars">
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                    <span class="fa fa-star"></span>
                                                </div>
                                            </div>

                                            <button class="post-btn" type="submit">
                                                Post Review
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

