<main>
    <section id="movie-list">
        <div class="container">
            <div class="row">
                <div class="owl-carousel owl-theme">
                    <div class="col-lg-3">
                        <div class="movie-card">
                            <div class="image">
                                <a href="">
                                    <img src="~/assets/images/poster10-683x1024-1-300x450.jpg"
                                         alt="" />
                                </a>
                                <span class="readmore-btn">
                                    READ MORE <i class="fas fa-caret-right"></i>
                                </span>
                            </div>
                            <div class="movie-info">
                                <ul>
                                    <li><a href="">ACAO</a></li>
                                    <li><a href="">ADVENTURE</a></li>
                                    <li><a href="">SCIENCE FINTION</a></li>
                                </ul>
                                <h6><a href="#">IRON MAN 2</a></h6>
                                <div class="vote">
                                    <p>7/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="movie-card">
                            <div class="image">
                                <a href="">
                                    <img src="~/assets/images/poster19-200x300-2-200x300.jpg"
                                         alt="" />
                                </a>
                                <span class="readmore-btn">
                                    READ MORE <i class="fas fa-caret-right"></i>
                                </span>
                            </div>
                            <div class="movie-info">
                                <ul>
                                    <li><a href="">ACAO</a></li>
                                    <li><a href="">ADVENTURE</a></li>
                                    <li><a href="">SCIENCE FINTION</a></li>
                                </ul>
                                <h6><a href="#">IRON MAN 2</a></h6>
                                <div class="vote">
                                    <p>7/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="movie-card">
                            <div class="image">
                                <a href="">
                                    <img src="~/assets/images/rWQVj6Z8kPdsbt7XPjVBCltxq90-300x450.jpg"
                                         alt="" />
                                </a>
                                <span class="readmore-btn">
                                    READ MORE <i class="fas fa-caret-right"></i>
                                </span>
                            </div>
                            <div class="movie-info">
                                <ul>
                                    <li><a href="">ACAO</a></li>
                                    <li><a href="">ADVENTURE</a></li>
                                    <li><a href="">SCIENCE FINTION</a></li>
                                </ul>
                                <h6><a href="#">IRON MAN 2</a></h6>
                                <div class="vote">
                                    <p>7/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="movie-card">
                            <div class="image">
                                <a href="">
                                    <img src="~/assets/images/9-2-1.jpg" alt="" />
                                </a>
                                <span class="readmore-btn">
                                    READ MORE <i class="fas fa-caret-right"></i>
                                </span>
                            </div>
                            <div class="movie-info">
                                <ul>
                                    <li><a href="">ACAO</a></li>
                                    <li><a href="">ADVENTURE</a></li>
                                    <li><a href="">SCIENCE FINTION</a></li>
                                </ul>
                                <h6><a href="#">IRON MAN 2</a></h6>
                                <div class="vote">
                                    <p>7/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="movie-card">
                            <div class="image">
                                <a href="">
                                    <img src="~/assets/images/poster6-200x300-1-300x450.png"
                                         alt="" />
                                </a>
                                <span class="readmore-btn">
                                    READ MORE <i class="fas fa-caret-right"></i>
                                </span>
                            </div>
                            <div class="movie-info">
                                <ul>
                                    <li><a href="">ACAO</a></li>
                                    <li><a href="">ADVENTURE</a></li>
                                    <li><a href="">SCIENCE FINTION</a></li>
                                </ul>
                                <h6><a href="#">IRON MAN 2</a></h6>
                                <div class="vote">
                                    <p>7/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </section>
    <section id="generes-celebrities">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="movie-generes">
                        <div class="movie-G-header">
                            <h4>IN GENERES</h4>
                            <p>View all</p>
                        </div>
                        <div class="movie-G-List">
                            <ul>
                                <li><a class="active" href="#">#All</a></li>
                                <li><a href="#">#Action</a></li>
                                <li><a href="#">#Action-Adventure</a></li>
                                <li><a href="#">#Adventure</a></li>
                                <li><a href="#">#Animation</a></li>
                                <li><a href="#">#History</a></li>
                            </ul>
                        </div>
                        <div class="movies-G">
                            <div class="movies-G-card">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/assets/images/poster7-683x1024-1-280x395.jpg"
                                             alt="" />
                                    </a>
                                    <span class="movie-G-readmore-btn">
                                        READ MORE <i class="fas fa-caret-right"></i>
                                    </span>
                                </div>
                                <div class="movies-G-info">
                                    <h6><a href="#">IRON MAN 2</a></h6>
                                    <div class="movies-G-vote">
                                        <p>7/10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="movies-G-card">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/assets/images/poster13-200x300-1.jpg"
                                             alt="" />
                                    </a>
                                    <span class="movie-G-readmore-btn">
                                        READ MORE <i class="fas fa-caret-right"></i>
                                    </span>
                                </div>
                                <div class="movies-G-info">
                                    <h6><a href="#">IRON MAN 2</a></h6>
                                    <div class="movies-G-vote">
                                        <p>7/10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="movies-G-card">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/assets/images/poster8-200x300-1.jpg" alt="" />
                                    </a>
                                    <span class="movie-G-readmore-btn">
                                        READ MORE <i class="fas fa-caret-right"></i>
                                    </span>
                                </div>
                                <div class="movies-G-info">
                                    <h6><a href="#">IRON MAN 2</a></h6>
                                    <div class="movies-G-vote">
                                        <p>7/10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="movies-G-card">
                                <div class="image">
                                    <a href="#">
                                        <img src="~/assets/images/poster15-200x300-1.jpg"
                                             alt="" />
                                    </a>
                                    <span class="movie-G-readmore-btn">
                                        READ MORE <i class="fas fa-caret-right"></i>
                                    </span>
                                </div>
                                <div class="movies-G-info">
                                    <h6><a href="#">IRON MAN 2</a></h6>
                                    <div class="movies-G-vote">
                                        <p>7/10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="movie-pagination">
                            <ul>
                                <li><a class="active" href="">1</a></li>
                                <li><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><a href="">4</a></li>
                                <li><a href="">Next</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="theater">
                        <div class="theater-header">
                            <h2>In theater</h2>
                        </div>
                        <div class="youtube-iframe">
                            <iframe title="Trailer My Dear Loser รักไม่เอาถ่าน ตอน Edge of 17"
                                    width="870"
                                    height="491"
                                    src="https://www.youtube.com/embed/0ZYUDwkIEc4?feature=oembed"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    </div>
                    <div class="latest-news">
                        <div class="latest-news-header">
                            <h2>LATEST NEWS</h2>
                        </div>

                        <div class="latest-news-movie">
                            <div class="latest-news-movie-image">
                                <a href="#">
                                    <img src="~/assets/images/tranthanh_mphs_xoow-320x180.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="latest-news-movie-info">
                                <h2>
                                    <a href="#">
                                        Godzilla: King Of The Monsters Adds O’Shea Jackson Jr
                                        O’Shea Jackson Jr O’Shea Jackson Jr
                                    </a>
                                </h2>
                                <p>4 years ago</p>
                                <div class="description">
                                    <p>
                                        Joss Whedon has a little bit of a history with superhero
                                        movies, and for creating layered female characters.
                                        After his documented frustrations with Wonder Woman,
                                        he’s getting
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="see-all-movies-news">
                            <div class="see-all-movies-news-header">
                                <div class="row">
                                    <div class="col-lg-8 col-md-6 col-sm-6">
                                        <div class="blockbuster-leftside-header">
                                            <h3>More news on Blockbuster</h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-6">
                                        <div class="blockbuster-rightside-header">
                                            <p>SEE ALL MOVIES NEWS</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="movies-news-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="news-item">
                                            <h2>
                                                <a href="">
                                                    Godzilla: King Of The Monsters Adds O’Shea
                                                    Jackson Jr O’Shea Jackson Jr O’Shea Jackson Jr
                                                </a>
                                            </h2>
                                            <p>4 years ago</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="news-item">
                                            <h2>
                                                <a href="">
                                                    Magnolia Nabs ‘Lucky’ Starring Harry Dean
                                                    Stanton
                                                </a>
                                            </h2>
                                            <p>4 years ago</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="news-item">
                                            <h2>
                                                <a href="">
                                                    ‘Going in Style’ Tops ‘Smurfs: The Lost Village’
                                                    at Thursday Box Office
                                                </a>
                                            </h2>
                                            <p>4 years ago</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="news-item">
                                            <h2>
                                                <a href="">
                                                    India’s National Film Awards: ‘Kaasav’ Wins Best
                                                    Picture
                                                </a>
                                            </h2>
                                            <p>4 years ago</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single__image__wrapper">
                        <div class="single__image">
                            <img width="336"
                                 height="296"
                                 src="~/assets/images/ads1.png"
                                 alt="" />
                        </div>
                    </div>
                    <div class="spotlight__celebrities">
                        <h4>SPOTLIGHT CELEBRITIES</h4>
                        <div class="spotlight__celebritie">
                            <div class="spotlight__celebritie__image">
                                <img src="~/assets/images/celebrities-1.png" alt="" />
                            </div>
                            <div class="spotlight__celebritie__info">
                                <h6 class="spotlight__celebritie__name">
                                    <a href="#">Abby Ryder Fortson</a>
                                </h6>
                            </div>
                        </div>
                        <div class="spotlight__celebritie">
                            <div class="spotlight__celebritie__image">
                                <img src="~/assets/images/celebrities-2.png" alt="" />
                            </div>
                            <div class="spotlight__celebritie__info">
                                <h6 class="spotlight__celebritie__name">
                                    <a href="#"> Alec Baldwin</a>
                                </h6>
                            </div>
                        </div>
                        <div class="spotlight__celebritie">
                            <div class="spotlight__celebritie__image">
                                <img src="~/assets/images/celebrities-3.png" alt="" />
                            </div>
                            <div class="spotlight__celebritie__info">
                                <h6 class="spotlight__celebritie__name">
                                    <a href="#">Alexandra Roach</a>
                                </h6>
                            </div>
                        </div>
                        <div class="spotlight__celebritie">
                            <div class="spotlight__celebritie__image">
                                <img src="~/assets/images/celebrities-4.png" alt="" />
                            </div>
                            <div class="spotlight__celebritie__info">
                                <h6 class="spotlight__celebritie__name">
                                    <a href="#">Alfre Woodard</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div id="instagram-feed-demo" class="instagram_feed"></div>
                </div>
            </div>
        </div>
    </section>
</main>
