
@{
    ViewData["Title"] = "Detail";
}

<div class="banner1-bg-img"></div>
<main>
    <section id="celebritieInfo">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="celebritie__detail__image">
                        <img src="~/assets/images/celebrities-1.png" alt="" />
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="celebritie__content">
                        <h2>Anthony Hopkins</h2>
                        <div class="celebritie__tabs">
                            <div class="celebritie__tabs-title">
                                <ul>
                                    <li><a class="active" href="#">BIOGRAPHY</a></li>
                                    <li><a href="#">FILMOGRAPHY</a></li>
                                </ul>
                            </div>
                            <div class="celebritie__tabs-content">
                                <div class="biography show">
                                    <div class="row">
                                        <div class="col-lg-9 col-md-8">
                                            <div class="celebritie__tabs-content-left">
                                                <div class="subtitle">
                                                    <h6>Biography of</h6>
                                                    <h4>Anthony Hopkins</h4>
                                                </div>
                                                <p>
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing
                                                    elit, sed do eiusmod tempor incididunt ut labore
                                                    et dolore magna aliqua. Ut enim ad minim veniam,
                                                    quis nostrud exercitation ullamco laboris nisi ut
                                                    aliquip ex ea commodo consequat. Duis aute irure
                                                    dolor in reprehenderit in voluptate velit esse
                                                    cillum dolore eu fugiat nulla pariatur. Excepteur
                                                    sint occaecat cupidatat non proident, sunt in
                                                    culpa qui officia deserunt mollit anim id est
                                                    laborum.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <div class="celebritie__tabs-content-right">
                                                <div class="overview__clb">
                                                    <h6>Date of Birth:</h6>
                                                    <p>17/10/1994</p>
                                                </div>
                                                <div class="overview__clb">
                                                    <h6>Gender:</h6>
                                                    <p>male</p>
                                                </div>
                                                <div class="overview__clb">
                                                    <h6>Country of Birth:</h6>
                                                    <p>
                                                        Ammanford, Carmarthenshire, Wales, United
                                                        Kingdom
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="filmography">
                                    <div class="celebritie__film">
                                        <div class="celebritie__film__main">
                                            <div class="celebritie__film__img">
                                                <img src="~/assets/images/filmography1.jpg" alt="" />
                                            </div>
                                            <div class="celebritie__film__title">
                                                <h4><a href="#">Westworld</a></h4>
                                            </div>
                                        </div>
                                        <div class="celebritie__createdDate">
                                            <p>2016-10-02</p>
                                        </div>
                                    </div>
                                    <div class="celebritie__film">
                                        <div class="celebritie__film__main">
                                            <div class="celebritie__film__img">
                                                <img src="~/assets/images/filmography2.jpg" alt="" />
                                            </div>
                                            <div class="celebritie__film__title">
                                                <h4><a href="#">Thor</a></h4>
                                            </div>
                                        </div>
                                        <div class="celebritie__createdDate">
                                            <p>2011-04-21</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

